<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>verJuegos</servlet-name>
        <servlet-class>verJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoJuegos</servlet-name>
        <servlet-class>mantenimientos.mantenimientoJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarJuego</servlet-name>
        <servlet-class>modificaciones.modificarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionModificarJuego</servlet-name>
        <servlet-class>modificaciones.accionModificarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarJuego</servlet-name>
        <servlet-class>mantenimientos.borrarJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaJuego</servlet-name>
        <servlet-class>altas.altaJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoGeneros</servlet-name>
        <servlet-class>mantenimientos.mantenimientoGeneros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaGenero</servlet-name>
        <servlet-class>altas.altaGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarGenero</servlet-name>
        <servlet-class>modificaciones.modificarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionModificarGenero</servlet-name>
        <servlet-class>modificaciones.accionModificarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarGenero</servlet-name>
        <servlet-class>mantenimientos.borrarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoPlataforma</servlet-name>
        <servlet-class>mantenimientos.mantenimientoPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaPlataforma</servlet-name>
        <servlet-class>altas.altaPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionModificarPlataforma</servlet-name>
        <servlet-class>modificaciones.accionModificarPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ç</servlet-name>
        <servlet-class>modificaciones.modificarPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarPlataforma</servlet-name>
        <servlet-class>mantenimientos.borrarPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoUsuarios</servlet-name>
        <servlet-class>mantenimientos.mantenimientoUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionModificarUsuario</servlet-name>
        <servlet-class>modificaciones.accionModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>modificaciones.modificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarUsuario</servlet-name>
        <servlet-class>mantenimientos.borrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoDirecciones</servlet-name>
        <servlet-class>mantenimientoDirecciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoPedidos</servlet-name>
        <servlet-class>mantenimientos.mantenimientoPedidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaUsuario</servlet-name>
        <servlet-class>altas.altaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Errores</servlet-name>
        <servlet-class>Errores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarDireccion</servlet-name>
        <servlet-class>mantenimientos.borrarDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarDireccion</servlet-name>
        <servlet-class>modificaciones.modificarDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accionModificarDireccion</servlet-name>
        <servlet-class>modificaciones.accionModificarDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaDireccion</servlet-name>
        <servlet-class>altas.altaDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nuevaDireccion</servlet-name>
        <servlet-class>altas.nuevaDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPedido</servlet-name>
        <servlet-class>modificaciones.modificarPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verArticulos</servlet-name>
        <servlet-class>verArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCesta</servlet-name>
        <servlet-class>mantenimientos.agregarCesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprobarLogin</servlet-name>
        <servlet-class>mantenimientos.comprobarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrar</servlet-name>
        <servlet-class>bajas.borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaUsuario</servlet-name>
        <servlet-class>bajas.bajaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaDireccion</servlet-name>
        <servlet-class>bajas.bajaDireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaPlataforma</servlet-name>
        <servlet-class>bajas.bajaPlataforma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaGenero</servlet-name>
        <servlet-class>bajas.bajaGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaJuego</servlet-name>
        <servlet-class>bajas.bajaJuego</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modUsu</servlet-name>
        <servlet-class>mantenimientos.modUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cesta</servlet-name>
        <servlet-class>mantenimientos.cesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarCesta</servlet-name>
        <servlet-class>mantenimientos.borrarCesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comprar</servlet-name>
        <servlet-class>comprar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vaciarcesta</servlet-name>
        <servlet-class>vaciarcesta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>verJuegos</servlet-name>
        <url-pattern>/verJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoJuegos</servlet-name>
        <url-pattern>/mantenimientoJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarJuego</servlet-name>
        <url-pattern>/modificarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionModificarJuego</servlet-name>
        <url-pattern>/accionModificarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarJuego</servlet-name>
        <url-pattern>/borrarJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaJuego</servlet-name>
        <url-pattern>/altaJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoGeneros</servlet-name>
        <url-pattern>/mantenimientoGeneros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaGenero</servlet-name>
        <url-pattern>/altaGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarGenero</servlet-name>
        <url-pattern>/modificarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionModificarGenero</servlet-name>
        <url-pattern>/accionModificarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarGenero</servlet-name>
        <url-pattern>/borrarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoPlataforma</servlet-name>
        <url-pattern>/mantenimientoPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaPlataforma</servlet-name>
        <url-pattern>/altaPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionModificarPlataforma</servlet-name>
        <url-pattern>/accionModificarPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ç</servlet-name>
        <url-pattern>/modificarPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarPlataforma</servlet-name>
        <url-pattern>/borrarPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoUsuarios</servlet-name>
        <url-pattern>/mantenimientoUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionModificarUsuario</servlet-name>
        <url-pattern>/accionModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarUsuario</servlet-name>
        <url-pattern>/borrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoDirecciones</servlet-name>
        <url-pattern>/mantenimientoDirecciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoPedidos</servlet-name>
        <url-pattern>/mantenimientoPedidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaUsuario</servlet-name>
        <url-pattern>/altaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Errores</servlet-name>
        <url-pattern>/Errores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarDireccion</servlet-name>
        <url-pattern>/borrarDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarDireccion</servlet-name>
        <url-pattern>/modificarDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accionModificarDireccion</servlet-name>
        <url-pattern>/accionModificarDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaDireccion</servlet-name>
        <url-pattern>/altaDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nuevaDireccion</servlet-name>
        <url-pattern>/nuevaDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPedido</servlet-name>
        <url-pattern>/modificarPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verArticulos</servlet-name>
        <url-pattern>/verArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCesta</servlet-name>
        <url-pattern>/agregarCesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprobarLogin</servlet-name>
        <url-pattern>/comprobarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrar</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaUsuario</servlet-name>
        <url-pattern>/bajaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaDireccion</servlet-name>
        <url-pattern>/bajaDireccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaPlataforma</servlet-name>
        <url-pattern>/bajaPlataforma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaGenero</servlet-name>
        <url-pattern>/bajaGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaJuego</servlet-name>
        <url-pattern>/bajaJuego</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modUsu</servlet-name>
        <url-pattern>/modUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cesta</servlet-name>
        <url-pattern>/cesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarCesta</servlet-name>
        <url-pattern>/borrarCesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comprar</servlet-name>
        <url-pattern>/comprar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaciarcesta</servlet-name>
        <url-pattern>/vaciarcesta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
